# Compiled Python files
*.pyc
__pycache__/

# SQLite database file
db.sqlite3

# Environment-specific files
*.env
myauth.py/

# IDE/Editor files
.vscode/
.idea/
*.swp

# Virtual environment
venv/
env/
.venv/
.env

# Logs
*.log