
{% extends "base.html" %}
{% load static %}
{% block content1 %} 
<div class="row my-5 container1">
  <div class="col-12 d-flex justify-content-center align-items-center">
   <div class="circular-image-container">
      <img class="circular-image" src="{% static 'images/imani.jpg' %}" alt="Image">
   </div>
  </div>


  <div class="col-12 text-center mt-3">
    <h4 class="hello">Hi, my name is</h4>
    <h1>Imani Ndolo</h1>
    <h1>I am a Software Developer</h1>
  </div>
 
  <div class=" grid grid-cols-3 md:grid-cols-6 gap-4 max-w-sm mx-auto my-icons">
    <a class="icons" target="_blank" id="linkedin1" href="https://www.linkedin.com/in/imani-ndolo-61ba26344"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x" style="color: rgb(225, 94, 225);"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a>

    <a class="icons" style="color: rgb(98, 207, 221);" target="_blank" id="x1" href="https://x.com/ImaniNdolo"><img src="{% static 'images/x.png' %}" alt="x" width="40" height="40"></a>

    <a class="icons" target="_blank" id="facebook1" href="https://www.facebook.com/share/15nTMvdT7a/"><img src="{% static 'images/facebook.jpg' %}" alt="facebook" width="40" height="40"></a>
    <a class="icons" target=" _blank" id="instagram1" href="https://www.instagram.com/imani_ndolo/?igsh=cXJxZmFnMHFnZmk1"><img src="{% static 'images/instagram.jpg' %}" alt="instagram" width="40" height="40"></a>

    <a class="icons" target="_blank" id="whatsapp1" href="https://wa.me/message/757XFBSEXX4SA1"><span class="fa-stack fa-lg"><i class="fa fa-whatsapp fa-stack-2x" style="color: rgb(68, 211, 85);"></i></span></a>
    <a class="icons" target="_blank" id="mail1" href="https://github.com/Ndolo7">
      <span class="fa-stack fa-lg">
        <i class="fa fa-github fa-stack-2x" style="color: rgb(205, 212, 130);"></i>
      </span>
    </a>
  </div> 


</div>

{% endblock content1 %}
