body{
    background-color: rgb(37, 2, 33);
    color: white;
}
.navbar-nav .nav-link:hover{
    font-weight: bold;
    font-size: 18px;
    color: rgb(108, 216, 230);
}
.navbar-brand{
    font-size: 30px;
}
.navbar-dark{
    background-color: rgb(30, 4, 43);
}
.circular-image-container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc;   
    
    display: flex;
    justify-content: center;
    align-items: first baseline;
}
.circular-image{
    width: 120%;
    height: auto;
    display: flex;
}
.col-12{
padding-top: 20px;
}
.hello{
color: rgb(108, 216, 230);
}
.icons{
    padding-left: 40px;
}
.about-image{
    max-width: 100%;
    height: auto;
    display: block;
}
.col-7{
    color: #ccc;
}
.circular-me{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10%;
}
.jumbtron{
    background-color: rgb(47, 7, 71);
    padding: 20px;
    border-radius: 10px;
    
}
.jobcompany{
    color: #ffffff;
    font-size: 24px;
    padding-left: 30px;
}
.jobposition{
    font-size: 18px;
    color: rgb(181, 96, 221);
    padding-left: 20px
}
.form-container{
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(209, 204, 211);
    color: black;
}

#heading,
#linkedin1,
#mail1,
#instagram1,
#facebook1,
#whatsapp1 {
    font-size: 1em;
    color: #ffffff;
    border-radius: 40px;
    animation: animate 3s linear infinite;
    -webkit-animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200 #0072ff;
}
#twitter1{
    animation-delay: 0.3s;
    animation-delay: 0.3s;
}
#facebook1{
    animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#linkedin1{
    animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#whatsapp1{
    animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#mail1{
    animation-delay: 1.0s;
    animation-delay: 1.0s;
}
#instagram1{
    animation-delay: 0.8s;
    animation-delay: 0.8s;
}
#heading{
    animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@-webkit-keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}